<div class="about section1">
<img src="https://i.ibb.co/KLNJPxN/profile.jpg"/>
</div>
<div class="about section2">
  <p>Nazywam się Anna Kołodziej i jestem 27-letnią filolożką z Poznania. Obecnie zajmuję się przekładem literatury młodzieowej oraz studiuję filologię czeską na Uniwersytecie im. Adama Mickiewicza i front-end development na Collegium da Vinci. W 2015 roku obroniłam tytuł magistra filologii angielskiej na poznańskim UAMie. W wolnych chwilach słucham indie, oglądam filmy Wesa Andersona, pykam w gry video i zgłębiam arkana front-end developmentu.</p>
</div>
<div class="about section3">
  <h3>Znajomość języków</h3>
  <span>angielskiego<img src="https://i.ibb.co/L9f8HdN/great-britain.png" class="icons"/></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="circle"></span><span class="emptycircle"></span>
  <span>czeskiego<img src="https://i.ibb.co/mFry9sw/czech-republic.png" class="icons" /></span><div class="circle"></div><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div>
  <span>hiszpańskiego<img src="https://i.ibb.co/rt7T3W7/spain.png" class="icons"/></span><div class="circle"></div><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div>
  <h3>Znajomość technologii</h3>
  <span>HTML5<img src="https://i.ibb.co/7n1fJ7k/html5-1.png" class="icons"/></span><div class="circle"></div><div class="circle"></div><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div>
  <span>CSS3<img src="https://i.ibb.co/RzYw5ky/css-3.png" class="icons"/></span><div class="circle"></div><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div>
  <span>JS6<img src="https://i.ibb.co/2sy8GGb/javascript.png" class="icons"/></span><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div>
  <span>Ionic</span><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div>
  <span>Angular</span><div class="circle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div><div class="emptycircle"></div>

</div>