<div class="about section1">
<img src="https://i.ibb.co/KLNJPxN/profile.jpg"/>
</div>
<div class="about section2">
  <p>Nazywam się Anna Kołodziej i jestem 27-letnią filolożką z Poznania.
    Obecnie zajmuję się przekładem literatury młodzieżowej oraz studiuję filologię czeską na Uniwersytecie im. Adama Mickiewicza i front-end development na Collegium da Vinci. W 2015 roku obroniłam tytuł magistra filologii angielskiej na poznańskim UAMie. W wolnych chwilach słucham indie, oglądam filmy Wesa Andersona, pykam w gry video i zgłębiam arkana front-end developmentu.</p>
</div>
<div class="about section3">
  <h3>Znajomość języków</h3>

  <div>
    <span>angielskiego<img src="https://i.ibb.co/L9f8HdN/great-britain.png" class="icons"/></span>

    <div>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="emptycircle"></span>
    </div>
  </div>

  <div>
  <span>czeskiego<img src="https://i.ibb.co/mFry9sw/czech-republic.png" class="icons" /></span>

    <div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="emptycircle"></div>
      <div class="emptycircle"></div>
      <div class="emptycircle"></div>
    </div>
  </div>
  <div>
    <span>hiszpańskiego<img src="https://i.ibb.co/rt7T3W7/spain.png" class="icons" /></span>
  
      <div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="emptycircle"></div>
        <div class="emptycircle"></div>
        <div class="emptycircle"></div>
      </div>
    </div>

  <h3>Znajomość technologii</h3>
  <div>
  <span>HTML5<img src="https://i.ibb.co/7n1fJ7k/html5-1.png" class="icons"/></span>
</div>
  <div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
</div>
<div>
  <span>CSS3<img src="https://i.ibb.co/RzYw5ky/css-3.png" class="icons"/></span>
</div>
<div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
</div>
  <div><span>JS6<img src="https://i.ibb.co/2sy8GGb/javascript.png" class="icons"/></span></div>
  <div><div class="circle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
</div>
  <div><span>Ionic<img src="https://i.ibb.co/j30nFh0/ionic.png" class="icons"/></span></div>
  <div>
  <div class="circle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
</div>
  <div><span>Angular<img src="https://i.ibb.co/cwF8k4N/angular.png" class="icons"/></span></div>
  <div>
  <div class="circle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
  <div class="emptycircle"></div>
</div>
</div>
