<h2>Formularz kontaktowy</h2>
<form>
<label>
  <span>Imię</span>
  <input name="name" placeholder="Imię" (keyup)="validateName()" [(ngModel)]="name"/>
  <div *ngIf="isNameInvalid" class="error">Imię wymagane</div>
</label>

<label>
  <span>Email</span>
  <input name="email" placeholder="Email" (keyup)="emailChanged()" [(ngModel)]="email"/>
  <div *ngIf="isEmailInvalid" class="error">Nieprawidłowy adres email</div>
</label>
<label>
  <span>Wiadomość</span>
<textarea name="message" [(ngModel)]="message"></textarea>

</label>
<button mat-button (click)="formSubmit()">Wyślij</button>
</form>
<div class="map"><span>Gdzie można mnie znaleźć</span><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.8370572125186!2d16.91677821592451!3d52.409629279793535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47045b360f6dd123%3A0xfe76801abd2f1646!2sCollegium+Maius!5e0!3m2!1spl!2spl!4v1561135277592!5m2!1spl!2spl" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>