:host {
  display: block;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.carousel {
    margin: 15px 50px 100px 50px;
    padding: 50px;
}

.inscription {
    display: grid;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    margin-top: 15px;
}
